# 👇 Fisiere și foldere care trebuie ignorate
node_modules/
.env
.DS_Store
npm-debug.log

# ⛔ Node modules - backend & frontend
backend/node_modules/
frontend/node_modules/

# ⛔ Environment files
backend/.env
frontend/.env

# ⛔ Logs & temp
*.log
.DS_Store

# ⛔ Build outputs (în cazul frontend-ului cu React/Vite)
frontend/dist/

uploads/*
!uploads/.keep