.menu-banner-fullscreen {
  width: 100%;
  height: 100vh; /* ocupă tot ecranul */
  overflow: hidden;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;

}

.banner-img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  display: block;
}

h2 {
  text-align: center;
}